@model IEnumerable<sahibindenParser.Models.Parser>

@{
    ViewBag.Title = "İlanlar";
}

<h2>İlanlar</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Seri)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Model)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Baslik)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Yil)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Km)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Renk)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fiyat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ilan_Tarihi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Il_Ilce)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Seri)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Model)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Baslik)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Yil)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Km)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Renk)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fiyat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ilan_Tarihi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Il_Ilce)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
